
    <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="https://github.com/rany-alo/symfony">Mon Blog sur GitHub</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ path('app_home_user') }}">Accueill</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ path('app_articles_new') }}">Ajouter Article</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ path('app_user_profile') }}">Profil</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ path('app_logout') }}">Logout</a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ path('admin') }}">Panel Admin</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
   