{% extends 'base_user.html.twig' %}

{% block title %}Home User{% endblock %}

{% block body %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{ asset('assets/img/home-bg.jpg') }}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Mon Blog</h1>
                            <span class="subheading">Un Blog créé avec le framework SYMFONY</span>
                            <span class="subheading">La plateforme</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        {% for article in articles %}
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <div class="post-preview">
                            <h2 class="post-title">{{article.title}}</h2>
                        <p class="post-meta">
                            Créé par
                            {{article.getUser.firstname}}
                            Le {{article.CreatedAt.format('Y-m-d H:i:s')}}
                        </p>
                    </div>
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="{{path('app_articles_index', {id: article.id})}}">Voir l'article</a></div>
                    <hr class="my-4" />
                </div>
            </div>
        </div>
        {% endfor %}
        <div class = "d-flex justify-content-center">
            {% do articles.setPageRange(2) %}
            {{ knp_pagination_render(articles, 'partials/pagination.html.twig') }}
        </div>
       
{% endblock %}
