{% extends 'base_user.html.twig' %}

{% block title %}Home User{% endblock %}

{% block body %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{ asset('assets/img/home-bg.jpg') }}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Mon Profil</h1>
                            <span class="subheading">Modifier vos informations personelles</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                   {{ form_start(form) }}
                   {{ form_row(form.firstname) }}
                   {{ form_row(form.lastname) }}
                   {{ form_row(form.email) }}
                   {{ form_row(form.plainPassword, {
                       label: 'Password'
                   }) }}
                    <button type="submit" class="btn btn-primary">Modifier</button>
                   {{ form_end(form) }}
                        
                 </div>
            </div>
        </div>
       
{% endblock %}
