{% extends 'base.html.twig' %}

{% block title %}Hello OneArticleController!{% endblock %}

{% block body %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{ asset('assets/img/home-bg.jpg') }}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>My Blog</h1>
                            <span class="subheading">A Blog created by the framework SYMFONY</span>
                            <span class="subheading">La plateforme school</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        {% for article in one_article %}
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <div class="post-preview">
                            <h2 class="post-title">{{article.title}}</h2>
                            <p class="post-title">{{article.article}}</p>
                        <p class="post-meta">
                            Créé par
                            {{article.getUser.firstname}}
                            Le {{article.CreatedAt.format('Y-m-d H:i:s')}}
                        </p>
                    </div>
                    <!-- Pager-->
                    <hr class="my-4" />
                </div>
            </div>
        </div>
        {% endfor %}
        <h4 class="row gx-4 gx-lg-5 justify-content-center">Les Commentaires</h4>
        {% for comment in comments %}
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <div class="post-preview">
                            <p class="post-title">{{comment.comment}}</p>
                        <p class="post-meta">
                            Ajouté par
                            {{comment.getUser.firstname}}
                            Le {{comment.CreatedAt.format('Y-m-d H:i:s')}}
                        </p>
                    </div>
                    <!-- Pager-->
                    <hr class="my-4" />
                </div>
            </div>
        </div>
        {% endfor %}
{% endblock %}
